<%- include('partial/header.ejs') %>
  <%- include('partial/nav.ejs') %>
    <%- include('partial/error.ejs') %>

      <div class="container w-3/6 rounded-xl border-2 pl-10 pb-5">
        <h3 class="text-4xl">Message Board</h3>
        <form action="/msgBoard/postMsg/<%= user.id %>" method="post" class="flex flex-col justify-evenly gap-1">


          <label for="title">title</label>
          <input type="text" placeholder="title" name="title" class='inputs'>

          <label for="content">content</label>
          <input type="content" placeholder="content" name="content" class='inputs'>


          <div><button type="submit"
              class=" rounded-lg  bg-teal-500 hover:bg-teal-700 w-24 h-12 mt-4 text-white">Login</button></div>
        </form>
      </div>
      <%- include('partial/footer.ejs') %>